/* HEADER seccion */
body {
  font-family: "Ubuntu", sans-serif;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul {
  display: flex;
}
li {
  list-style: none;
  padding: 15px;
  font-size: 13px;
  font-weight: bold;
}
header a {
  color: black;
  text-decoration: none;
}
header a:hover {
  animation-name: subrayado;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes subrayado {
  100% {
    text-decoration: underline;
  }
}
.foto-perfil {
  border-radius: 50%;
  padding: 15px;
}
.imagen-menu {
  width: 17px;
  height: 17px;
  padding: 15px;
}
.imagen-google-cab {
  margin-top: 20px;
  margin-bottom: 15px;
}
.google-cabecera {
  margin: auto;
}
/*MAIN seccion */

main {
  text-align: center;
}
.buscador {
  width: 540px;
  height: 45px;
  border: 1px solid #cfcccc;
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
i {
  color: #cfcccc;
  font-size: 17px;
  display: inline-block;
}
.fa-search {
  padding-left: 15px;
}
.fa-microphone {
  padding-right: 15px;
}
#buscar-google {
  width: 470px;
  height: 40px;
  border: 0px solid #cfcccc;
}
.buscador:hover,
.buscador:focus-within {
  box-shadow: 2px 2px 2px rgba(15, 20, 30, 0.3);
}

.barra-busqueda input:focus {
  outline: none;
}

.botones {
  margin: 35px;
}
.boton {
  margin: 0px 5px;
  color: black;
  border: 1px #b8b4b4;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  background-color: #f8f8f8;
  text-decoration: none;
  border: 1px solid #f8f8f8;
}
.boton:hover {
  animation-name: cambio-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes cambio-color {
  100% {
    border: 1px solid #b8b4b4;
    box-shadow: 0 1px 1px rgba(15, 20, 30, 0.19);
  }
}
p {
  color: black;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
.ofrecido-por {
  display: inline-block;
  padding: 15px;
}
.idiomas {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
/* FOOTER seccion*/
footer {
  background-color: #f3f0f0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
footer p {
  font-size: 16px;
  font-weight: bold;
  color: #5e5d5d;
}
footer a {
  color: #5e5d5d;
  text-decoration: none;
}
footer a:hover {
  animation-name: footer-underline;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes footer-underline {
  100% {
    text-decoration: underline;
  }
}
.pais-actual {
  padding: 18px;
  border-bottom: 1px solid #b8b4b4;
}
.informacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 20px;
}
footer ul {
  display: flex;
}
